nav.default-primary-color
    .nav-wrapper.container
        a.brand-logo(href='/') Events
        .nav-container#profile-container(style='height:100%;')
            ul.right(style='height:100%;')
                li
                    a(href='/auth/facebook') sign up

