nav.default-primary-color
    .nav-wrapper.container
        a.brand-logo(href='/') Events
        ul.right.hide-on-med-and-down#nav-mobile
            li
                a(href='/auth/facebook') sign up