doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/static/lib/normalize.css/normalize.css')
        link(rel='stylesheet', href='/static/lib/materialize/dist/css/materialize.css')
        link(rel='stylesheet', href='/static/assets/stylesheets/style.css')
        block stylesheets
    body
        <!--[if lt IE 8]>
        p.browsehappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href="http://browsehappy.com/">upgrade your browser</a>
            | to improve your experience.
        <![endif]-->

        block header

        block main

        block footer

        script(src='/static/lib/jquery/dist/jquery.js')
        script(src='/static/lib/materialize/dist/js/materialize.js')
        script(src='/static/lib/react/react.js')
        script(src='/static/lib/immutable/dist/immutable.js')
        script(src='/static/lib/es6-promise/promise.js')
        script(src='/static/lib/fetch/fetch.js')
        block scripts
