/*** Global ***/
// Media Query Ranges
small-screen-up = 601px !default
medium-screen-up = 993px !default
large-screen-up = 1201px !default
small-screen = 600px !default
medium-screen = 992px !default
large-screen = 1200px !default

h1, h2, h3, h4
  font-weight 100
  color #5A5A5A

nav
  background-color #fff
  font-weight 300

nav a, nav ul a
  color #212121
  font-size 1rem

.side-nav .btn
  color #fff

nav .right-nav
  float right
  margin-left 30px

nav .brand-logo
  color #414B82
  font-size 2rem
  font-weight 600

section
  position relative
  width 100%
  height 100%

section#top
  font-size 3.56rem
  line-height 3.916rem
  max-height 80%
  background-color #272D4E
  background-image url(../img/exagon-pattern.png)
  padding-top 90px

.actions-wrapper
  padding-bottom 90px
  padding-top 120px

.icon-svg
  display block
  margin-left auto
  margin-right auto
  width 140px
  height 140px

#top a
  font-size 1rem

#top h4
  font-weight 200
  color #ACACAC
  margin-bottom 30px

section#explore
  background-color #fff
  margin-top -5%
  padding 20px
  margin-bottom 60px

section#explore .input-field input[type="search"]
  width calc(100% - 6rem)
  padding-left 1rem

section#explore .input-field .prefix.active
  color #FBC02D

section#explore .input-field input[type=search]:focus, section#explore .input-field input[type=search]:valid
  border-bottom 1px solid #8BC34A
  box-shadow 0 1px 0 0 #8BC34A

section#explore .trending .section
  padding 2rem
  padding-bottom 2rem

.main-color
  background-color #414B82

.nav-wrapper
  padding 0px 30px

@media only screen and (max-width: 992px)
  .icon-svg
    width 80px
    height 80px
    margin-bottom 20px

  .container.explore
    width 90%
    padding 0px