.dark-primary-color
  background #689F38

.default-primary-color
  background #8BC34A

.light-primary-color
  background #DCEDC8

.text-primary-color
  color #212121

.accent-color
  background #03A9F4

.primary-text-color
  color #212121

.secondary-text-color
  color #727272

.divider-color
  border-color #B6B6B6

nav ul a
  font-weight 600

p
  line-height 2rem

.button-collapse
  color #26a69a

.parallax-container
  min-height 380px
  line-height 0
  height auto
  color rgba(255, 255, 255, .9)

.parallax-container .section
  width 100%

.banner
  display flex
  height 60vh

footer.page-footer
  margin 0

