.dark-primary-color
  background #689F38

.default-primary-color
  background-color #8BC34A !important

.default-primary-text-color
  color #8BC34A

.light-primary-color
  background #DCEDC8

.text-primary-color
  color #212121

.accent-color
  background-color #03A9F4 !important

.primary-text-color
  color #212121 !important

.secondary-text-color
  color #727272 !important

.divider-color
  border-color #B6B6B6

.white-text
  color #FFF

.btn:hover
  background #689F38

.waves-effect.waves-accent .waves-ripple
  background #03A9F4

/* label underline focus color */
.input-field input[type=text]:focus
  border-bottom 1px solid #8BC34A
  box-shadow 0 1px 0 0 #8BC34A

/* label underline focus color */
.input-field input[type=date]:focus
  border-bottom 1px solid #8BC34A
  box-shadow 0 1px 0 0 #8BC34A

.input-field textarea:focus
  border-bottom 1px solid #8BC34A
  box-shadow 0 1px 0 0 #8BC34A

/* valid color */
.input-field input[type=text].valid
  border-bottom 1px solid #000
  box-shadow 0 1px 0 0 #000

/* invalid color */
.input-field input[type=text].invalid
  border-bottom 1px solid #000
  box-shadow 0 1px 0 0 #000

/* icon prefix focus color */
.input-field .prefix.active
  color #000

.event-reveal-card
  display flex
  flex-direction column
  align-items stretch

.event-reveal-card-header
  display flex
  flex 1
  justify-content space-between
  align-items center

.event-reveal-card-header img
  max-height 36px

.card-reveal-footer
  display flex
  flex: 1
  align-items flex-end
  justify-content flex-end

.flex-row
  display flex
  flex: 1
  flex-direction row
  align-items center

.divider
  margin-left -20px
  margin-right -20px

.darken
  filter grayscale(50%)

nav ul a
  font-weight 600

p
  line-height 2rem

.button-collapse
  color #26a69a

.staggered-wrapper
  position relative

.staggered-wrapper ul
  width 80px
  position absolute
  right 0px

.staggered-wrapper li
  opacity 0

.parallax-container
  min-height 380px
  line-height 0
  height auto
  color rgba(255, 255, 255, .9)

.parallax-container .section
  width 100%

.banner
  display flex
  height 60vh

footer.page-footer
  margin 0

