extends ./partials/layout
block title
    title Feed
block header
    include ./partials/header
block main
    .container
        .row
            .col.s12.l5.m8#feed-container
block scripts
    script(src='/static/assets/scripts/index.js')