extends ./partials/layout

block title
    title events

block header
    include ./partials/header

block main
    .container
        h1 Events

block scripts
    script(src='/static/assets/scripts/index.js')