doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/static/lib/normalize.css/normalize.css')
        link(rel='stylesheet', href='/static/lib/materialize/dist/css/materialize.css')
        link(rel='stylesheet', href='/static/assets/stylesheets/landing.css')
        link(rel='stylesheet', href='/static/assets/stylesheets/card.css')
        block stylesheets
    body
        <!--[if lt IE 8]>
        p.browsehappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href="http://browsehappy.com/">upgrade your browser</a>
            | to improve your experience.
        <![endif]-->

        header
            .navbar-fixed
                nav
                    .nav-wrapper
                        .col.s12
                            a.brand-logo(href='#') Leasure
                            a.button-collapse.right(href="#", data-activates="mobile-demo")
                                i.mdi-navigation-menu

                            .right-nav.hide-on-med-and-down
                                a.waves-effect.btn.main-color(href='#') SIGN UP

                            ul.right.hide-on-med-and-down
                                li
                                    a(href='#explore') Explore
                                li
                                    a(href='#create') Create
                                li
                                    a(href='#contact') Contact

                            ul#mobile-demo.side-nav
                                li
                                    a(href='#explore') Explore
                                li
                                    a(href='#create') Create
                                li
                                    a(href='#contact') Contact
                                li
                                    a.waves-effect.btn.main-color(href='#') SIGN UP

        section#top
            .row
                .col.s12.center-align
                    h1.white-text Re-Discover your city
                    h4 Restaurants and bars, films and theatre, art, gigs, clubs, shops and more...

                    a.btn.waves-effect.waves-light.yellow.darken-2(href='#') Start now
            .container.actions-wrapper
                .row
                    .col.m3.s6.center-align
                        h4.white-text PARTY
                        img.icon-svg(src='/static/assets/img/Beer.svg')
                    .col.m3.s6.center-align
                        h4.white-text MUSIC
                        img.icon-svg(src='/static/assets/img/DJ.svg')
                    .col.m3.s6.center-align
                        h4.white-text CINEMA
                        img.icon-svg(src='/static/assets/img/Moviecam.svg')
                    .col.m3.s6.center-align
                        h4.white-text FOOD
                        img.icon-svg(src='/static/assets/img/Apple.svg')
        .container.explore
            section#explore.z-depth-1
                .row
                    .col.s12
                        h2.header Trending events
                .row.trending
                    .col.s12.m6.l4
                        .section
                            .card
                                .card-image.waves-effect.waves-block.waves-light
                                    img.darken.activator(src='https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/11189949_426441037517464_1653159412_n.jpg')
                                    span.activator.card-title Event title
                                .card-content
                                    .event-reveal-card-header
                                        a.btn-floating.waves-effect.waves-block.waves-light(href='#')
                                            img.circle.responsive-img(src='http://materializecss.com/images/yuna.jpg')
                                        p
                                            small.secondary-text-color Russia, Novosibirsk - Jan 9, 2014
                                .card-reveal.event-reveal-card
                                    span.card-title.grey-text.text-darken-4
                                        | Event title
                                        i.mdi-navigation-close.right
                                    p
                                        small.secondary-text-color Russia, Novosibirsk - Jan 9, 2014
                                    p Footers are a great way to organize a lot of site navigation and information at the end of a page.  This is where the user will look once hes finished scrolling through the current page or is looking for additional.
                                    .card-reveal-footer
                                        a.btn-flat.waves-effect(href='#') more
                    .col.s12.m6.l4
                        .section
                            .card
                                .card-image.waves-effect.waves-block.waves-light
                                    img.darken.activator(src='https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/11078746_456255007864271_933923366_n.jpg')
                                    span.activator.card-title Event title
                                .card-content
                                    .event-reveal-card-header
                                        a.btn-floating.waves-effect.waves-block.waves-light(href='#')
                                            img.circle.responsive-img(src='http://materializecss.com/images/yuna.jpg')
                                        p
                                            small.secondary-text-color Russia, Novosibirsk - Jan 9, 2014
                                .card-reveal.event-reveal-card
                                    span.card-title.grey-text.text-darken-4
                                        | Event title
                                        i.mdi-navigation-close.right
                                    p
                                        small.secondary-text-color Russia, Novosibirsk - Jan 9, 2014
                                    p Footers are a great way to organize a lot of site navigation and information at the end of a page.  This is where the user will look once hes finished scrolling through the current page or is looking for additional.
                                    .card-reveal-footer
                                        a.btn-flat.waves-effect(href='#') more
                    .col.s12.m6.l4
                        .section
                            .card
                                .card-image.waves-effect.waves-block.waves-light
                                    img.darken.activator(src='https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/10299665_401754926616327_980958607_n.jpg')
                                    span.activator.card-title Event title
                                .card-content
                                    .event-reveal-card-header
                                        a.btn-floating.waves-effect.waves-block.waves-light(href='#')
                                            img.circle.responsive-img(src='http://materializecss.com/images/yuna.jpg')
                                        p
                                            small.secondary-text-color Russia, Novosibirsk - Jan 9, 2014
                                .card-reveal.event-reveal-card
                                    span.card-title.grey-text.text-darken-4
                                        | Event title
                                        i.mdi-navigation-close.right
                                    p
                                        small.secondary-text-color Russia, Novosibirsk - Jan 9, 2014
                                    p Footers are a great way to organize a lot of site navigation and information at the end of a page.  This is where the user will look once hes finished scrolling through the current page or is looking for additional.
                                    .card-reveal-footer
                                        a.btn-flat.waves-effect(href='#') more
                    .col.s12.m6.l4
                        .section
                            .card
                                .card-image.waves-effect.waves-block.waves-light
                                    img.darken.activator(src='https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/10299665_401754926616327_980958607_n.jpg')
                                    span.activator.card-title Event title
                                .card-content
                                    .event-reveal-card-header
                                        a.btn-floating.waves-effect.waves-block.waves-light(href='#')
                                            img.circle.responsive-img(src='http://materializecss.com/images/yuna.jpg')
                                        p
                                            small.secondary-text-color Russia, Novosibirsk - Jan 9, 2014
                                .card-reveal.event-reveal-card
                                    span.card-title.grey-text.text-darken-4
                                        | Event title
                                        i.mdi-navigation-close.right
                                    p
                                        small.secondary-text-color Russia, Novosibirsk - Jan 9, 2014
                                    p Footers are a great way to organize a lot of site navigation and information at the end of a page.  This is where the user will look once hes finished scrolling through the current page or is looking for additional.
                                    .card-reveal-footer
                                        a.btn-flat.waves-effect(href='#') more
                    .col.s12.m6.l4
                        .section
                            .card
                                .card-image.waves-effect.waves-block.waves-light
                                    img.darken.activator(src='https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/11184567_440224336159268_601144628_n.jpg')
                                    span.activator.card-title Event title
                                .card-content
                                    .event-reveal-card-header
                                        a.btn-floating.waves-effect.waves-block.waves-light(href='#')
                                            img.circle.responsive-img(src='http://materializecss.com/images/yuna.jpg')
                                        p
                                            small.secondary-text-color Russia, Novosibirsk - Jan 9, 2014
                                .card-reveal.event-reveal-card
                                    span.card-title.grey-text.text-darken-4
                                        | Event title
                                        i.mdi-navigation-close.right
                                    p
                                        small.secondary-text-color Russia, Novosibirsk - Jan 9, 2014
                                    p Footers are a great way to organize a lot of site navigation and information at the end of a page.  This is where the user will look once hes finished scrolling through the current page or is looking for additional.
                                    .card-reveal-footer
                                        a.btn-flat.waves-effect(href='#') more
                    .col.s12.m6.l4
                        .section
                            .card
                                .card-image.waves-effect.waves-block.waves-light
                                    img.darken.activator(src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11203488_1643091172590557_1937855090_n.jpg')
                                    span.activator.card-title Event title
                                .card-content
                                    .event-reveal-card-header
                                        a.btn-floating.waves-effect.waves-block.waves-light(href='#')
                                            img.circle.responsive-img(src='http://materializecss.com/images/yuna.jpg')
                                        p
                                            small.secondary-text-color Russia, Novosibirsk - Jan 9, 2014
                                .card-reveal.event-reveal-card
                                    span.card-title.grey-text.text-darken-4
                                        | Event title
                                        i.mdi-navigation-close.right
                                    p
                                        small.secondary-text-color Russia, Novosibirsk - Jan 9, 2014
                                    p Footers are a great way to organize a lot of site navigation and information at the end of a page.  This is where the user will look once hes finished scrolling through the current page or is looking for additional.
                                    .card-reveal-footer
                                        a.btn-flat.waves-effect(href='#') more
                .row
                    .col.s12.center-align
                        a.btn.waves-effect.waves-light.yellow.darken-2(href='#') Get more
        script(src='/static/lib/jquery/dist/jquery.js')
        script(src='/static/lib/materialize/dist/js/materialize.js')
        script.
            $(".button-collapse").sideNav({
                menuWidth: 200, // Default is 240
                edge: 'right', // Choose the horizontal origin
                closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
            });

